.centralise {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
}

.paginationBttns {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #808080;
  color: #808080;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #808080;
}

.paginationActive a {
  color: white;
  background-color: #808080;
}
